
body{
	letter-spacing: 3px;

}
a:active, a:focus{
	outline: none;
}
.TripUp{
	padding: 0 30px;

}
.TripUpHead{
	color: white;
	font-size: 36px;
	font-weight: 700;
	font-family: 'Tangerine', serif;
	padding: 10px;
	margin: 0;
}

.SignUp{
	float: right;
	margin-top:-40px;
	color: white;
}
.Home{
	background-image: url(meghalaya2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 600px;
	padding: 30px;
	
}
.navbar-inverse{
	
	
	font-family: 'Tangerine', serif;
	font-size: 18px;
	background-color: #f3f7f300;
	letter-spacing: 2px;
	height: 26px;
	padding:  0 40px;
	border:none;

}

.navbar-inverse .navbar-nav>li>a{
	color: white;	
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: gray;	
}

.plan{
	text-align: center;
	margin: auto;
	margin-top: 140px;

}
#planTag{
	width: 500px;
	margin: auto;
	font-size: 40px;
	font-weight: 700;
	color: white;	
}
#planPara{
	margin: 10px;
	color: white;
	letter-spacing: 1.8px;
}
.planSearch{
	display: flex;
	background-color: white;
	text-align: center;
	width: 1200px;
	margin: auto;
}
.planBar{
	width: 220px;
	padding: 8px;
	border-right: 1px solid gray;
	font-size: 16px;


}
span{
	margin: 4px;
}
 #explore{
	border: none;

	background-color: ;
	width: 320px;
	font-weight: 700px;

}
.hotelHead{
	margin-bottom: 20px;
	/*border-left: 5px solid red;*/
	margin-left: 60px;
	padding: 20px;
	

}
#hotelHead{
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 3px;
}
#hotelLine{
	letter-spacing: 3px;
}
.Hotels1{
	margin: 60px;
}
.hotelHead1{
	/*border-left: 5px solid red;*/
	margin-bottom: 20px;
	margin-left: 60px;
	padding: 20px;
	

}
#hotelHead1{
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 3px;
}

.bestHotel{
	display: flex;
	margin-left: 60px;
}

.bestHotel1{
	display: flex;
	margin-left: 60px;
}
#bestHotel1{
	letter-spacing: 3px;
	margin-left: 30px;
	width: 30%;
}

#bestHotel{
	letter-spacing: 3px;
	margin-left: 30px;
	width: 30%;
}
.Explore{
	margin-left: 700px;
	border: 2px solid red;
	background-color: white;
	letter-spacing: 3px;

}
#hotelImage{
	display: flex;
	list-style: none;
	margin: auto;
	margin-left: 200px;
	flex-flow: wrap;
	height: 400px;
	
}
.insideClass{
	
	margin-top: -100px;
	margin-left: 100px;
	
}


#hotelImage1{
	display: flex;
	width: 1000px;
	margin: auto;
	/*margin-left: 200px;*/
	flex-flow: wrap;
	
}
.image img{
	width: 270px;
	height: 183px;
	margin: 30px;
	border-radius: 	10%;
	margin-bottom: 10px;
	/*transform: scale(0.5);*/
	

}
.image:hover{
	transform: scale(1.05);
}
footer{
	background-color: #429db6;
}
.bestrotate strong{
	font-size: 50px;
	color: #2fbbcb85;
	margin-top: 50px;	
	float: left;
	transform: rotate(270deg);
}
#hotelImage2{
	display: flex;
	flex-flow: wrap;
	align-items: center;
	width: 1200px;
	height: 1000px;
	margin: auto;
	margin-top: 10px;
	padding: 10px;

}
.onDiv{
	background-repeat: 	no-repeat;
	background-size: 300px 440px;	
	margin:10px;
	border-radius: 10%;
}
.onDiv1{

	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 500;
	background-color: beige;
	width: 340px;
	height: 80px;
	margin: 280px 0 40px 20px;
	padding: 10px;
	border-radius: 25px;
	border: none;
	transform: scale(1.03);
	
}

.onDiv1:hover{
	transform: scale(1.1);
}
.ondivp{
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 1px;
	padding-left: 4px;
	}
.onDiv2 .glyphicon{
	color: #ff8f00d4;
}

/*footer*/
footer{
	height: 200px; 
	background-image: url('footer1.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}
.h3, h3 {
	font-size: 28px;
	font-weight: 600;
}
.col-md-6{
	width: 40%;
	color: white;
	margin-right: 50px;
}
.col-md-6 a, .col-md-3 a{
	color: white;
}
.col-md-3{
	margin-top: 40px;
	width: 20%;
	width: 200px;

}
.col-md-3 h5{
	color: white;
	font-size: 20px;
	font-weight: 500;
}



